.activity-card-wrapper {
  position: relative;
  display: flex;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .activity-card-wrapper {
    margin-top: 80px;
  }
}

.InfiniteLoop__slider {
  overflow-x: visible; 
  position: relative;
}

.InfiniteLoop__inner {
  display: flex;
  width: fit-content;
  animation: loop 30s linear infinite;
}

.InfiniteLoop__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 450px; 
  height: 300px; 
  margin-right: 80px; 
  border-radius: 20px; 
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease-in-out; 
}

.InfiniteLoop__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; 
  margin-bottom: 0;
}

.description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; 
  background: linear-gradient(to bottom, transparent, #14439f);
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}


/* 모바일 크기 변경을 위한 미디어 쿼리 추가 */
@media (max-width: 768px) {
  .InfiniteLoop__item {
    width: 335px; /* 모바일 환경에서 카드 너비 변경 */
    height: 210px; /* 모바일 환경에서 카드 높이 변경 */
    margin-right: 40px; /* 모바일 환경에서 카드 간격도 조정 */
  }

  .description-overlay {
    font-size: 16px; /* 모바일 환경에서 폰트 크기 조정 */
  }
}

@keyframes loop {
  0% {
    transform: translateX(0); /* 첫 번째 카드에서 시작 */
  }
  100% {
    transform: translateX(calc(-50%)); /* 전체 슬라이드 길이만큼 이동 */
  }
}
