.activity-card-wrapper {
  width: 100vw;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}

.InfiniteLoop__inner {
  display: flex;
  width: fit-content;
  animation: loop 30s linear infinite;
}

.InfiniteLoop__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 450px; 
  height: 300px; 
  margin-right: 80px; 
  border-radius: 20px; 
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.InfiniteLoop__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; 
  margin-bottom: 0;
}

.description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; 
  background: linear-gradient(to bottom, transparent, #14439f);
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}



@keyframes loop {
  0% {
    transform: translateX(0); /* 첫 번째 카드에서 시작 */
  }
  100% {
    transform: translateX(calc(-50%)); /* 전체 슬라이드 길이만큼 이동 */
  }
}
